@import "../../styles/global.css";
/* @font-face {
	font-family: "CaskaydiaCoveNF";
	src: url("/ResuMate/CaskCov.woff2");
} */


/* Set your monospace font (Required to have the editor working correctly!) */
.carta-theme__main.carta-font-code {
	font-family: "CaskaydiaCoveMono", monospace;
	font-size: 1.1rem;
	line-height: 1.1rem;
    letter-spacing: normal;
}

.carta-theme__main.carta-editor {
	@apply border-b-1 border-r-1 border-overlay0 rounded bg-mantle
}

.carta-theme__main .carta-editor ::selection {
	@apply bg-base w-full h-full;
}

.carta-theme__main .carta-toolbar {
	@apply border-b-1 border-overlay0 ;
}

.carta-theme__main .carta-wrapper {
	@apply px-4 
}

.carta-theme__main .carta-container > * {
	@apply my-4
}

.carta-container {
	@apply w-full h-full 
}

/* Text settings */
.carta-theme__main .carta-input {
	@apply caret-text;
}

.carta-theme__main .carta-input ::placeholder {
	@apply text-text;
	/* color: var(--text-color); */
}

/* Toolbar */
.carta-theme__main .carta-toolbar {
	@apply px-3
}


/* Markdown input and renderer */
.carta-theme__main .carta-input,
.carta-theme__main .carta-renderer {
	@apply h-[calc(100svh-108px)] w-full overflow-y-scroll text-text
}
/* 
.carta-font-code{
	@apply 
} */


/* Icons */
.carta-theme__main .carta-icon,
.carta-theme__main .carta-icon-full {
	@apply border-0 
}

.carta-theme__main .carta-icon > svg > path {
	@apply fill-text
}

.carta-theme__main .carta-icon-full {
	@apply p-4
}

.carta-theme__main .carta-icon-full span {
	@apply ml-2
}

.carta-theme__main .carta-icon:hover,
.carta-theme__main .carta-icon-full:hover {
	@apply bg-base 
}

.carta-input > pre {
	@apply bg-surface0 
}

.carta-theme__main .carta-icons-menu {
	@apply p-2 border-2 border-lavender rounded-md min-w-[180px]
}

.carta-theme__main .carta-icons-menu .carta-icon-full {
	@apply mt-1
}

.carta-theme__main .carta-icons-menu .carta-icon-full:first-child {
	@apply mt-0
}

/* Buttons */
.carta-theme__main .carta-toolbar-left button {
	@apply hidden
}

.carta-theme__main .carta-toolbar-left button:last-child {
	@apply hidden
}

.carta-theme__main .carta-toolbar-left button.carta-active {
	@apply hidden
}
