/* @font-face {
  font-family: "CaskaydiaCoveNF";
  src: url("../../public/CaskCov.woff2") format("woff2");
} */

@font-face {
  font-family: "CaskaydiaCoveMono";
  src: url("../../public/CaskCovMono.woff2") format("woff2");
}

/* .nerdfont {
    font-family: "CaskaydiaCoveNF";
} */

.nerdfont {
    font-family: "CaskaydiaCoveMono", monospace;
}